.modal.col-12#global-modal
    .modal-content
        .modal-header.bg-dark
            .navbar-brand|Global Settings
            .nav.pull-right
                span.close|&times
        .modal-body.p2
            .row.mx-3.my-2
                #global-container