.page.col-5#geometry-panel
    +containerWithTitle('GlTF', 'gltf-container', 'col-2')
    +containerWithTitle('GlTF Generation', 'gltf-gen-container', 'col-4')
    +containerWithTitle('Import', 'gltf-import-container', 'col-2')