.page.col-5#importance-map-panel
    +containerWithTitle('Global Adjustment', 'global-importance-container', 'col-4')
    +containerWithTitle('Local Adjustment', 'local-importance-container', 'col-4')
    +container('importance-apply-container')