.page.col-5#seeding-panel
    +containerWithTitle('Sampling', 'sampling-container', 'col-2')
    +containerWithTitle('Color Palette', 'color-container', 'col-3')
    +containerWithTitle('Random Seed', 'seed-container', 'col-3')
    +container('seeding-apply-container')