.page.col-5#vector-panel
    +containerWithTitle('Appearance', 'appearance-container', 'col-3')
    +container('appearance-apply-container')
    +containerWithTitle('SVG Generation', 'svg-gen-container', 'col-4')