.modal#exportModal
    .modal-content
        .modal-header
            span.close|&times;
            h2|Export
        .modal-body
            p|Some text in the Modal Body 
            p|Some other text 

