header
    .navbar.navbar-dark.bg-dark.fg-light
        .nav.pull-left
            button.btn.btn-outline-light.navbar-btn.mx-2#open-button(type="button")
                |Open
            button.btn.btn-outline-light.navbar-btn.mx-2#import-button(type="button")
                |Import
            button.btn.btn-primary.navbar-btn.mx-2#export-button(type="button")
                |Export
        .container-fluid-nav.text-center
            a.navbar-brand(href = '#')
                |Interactive Geometric Image Stylization using Bounding Hierarchies
        .nav.pull-right
            button.btn.btn-outline-warning.navbar-btn.mx-2#global-button(type="button")
                |Global Settings
            
