.row.mt-1.mx-3
    a.tab.tl-rounded#t_vecor.p-2(type="button" href="#vector")
        |Vector
    a.tab#t_3d.p-2(type="button" href="#3d")
        |3D
    a.tab#t_input.p-2(type="button" href="#input")
        |Input
    a.tab#t_importance_map.p-2(type="button" href="#importance-map")
        |Importance Map
    a.tab#t_layer.p-2(type="button" href="#layer")
        |Layer
    a.tab.tr-rounded#t_seeding.p-2(type="button" href="#sampling")
        |Sampling