.col.trblr-rounded#view-container
    .embed-responsive.embed-responsive-4by3(style = 'position: relative;')
        canvas.embed-responsive-item#webgl-canvas Your browser does not support the canvas element.
        canvas.embed-responsive-item#point-canvas Your browser does not support the canvas element.
        canvas.embed-responsive-item#layer-canvas Your browser does not support the canvas element.
        canvas.embed-responsive-item#mask-canvas Your browser does not support the canvas element.
        div.embed-responsive-item#svg-canvas